In [34]:
import pandas as pd
import numpy as np
import scipy.stats as stats

In [35]:
csv_to_change = 'art_science_museum'

In [36]:
df = pd.read_csv(f'../data/{csv_to_change}.csv', index_col=0)

In [37]:
np.random.seed(234)

In [38]:
first_index = df[df['Time'] == '8 months ago'].index[0]
saved_data_frame = df.iloc[:first_index]

In [39]:
saved_data_frame

               Time  Score
0     6 minutes ago      5
1       an hour ago      4
2       2 hours ago      5
3       3 hours ago      5
4       4 hours ago      2
...             ...    ...
1379   7 months ago      5
1380   7 months ago      5
1381   7 months ago      5
1382   7 months ago      5
1383   7 months ago      3

[1384 rows x 2 columns]

In [40]:
mean_review = np.mean(saved_data_frame['Score'])
mean_review

4.344653179190751

In [41]:
mean_number_of_review_monthly = len(saved_data_frame) / 7
mean_number_of_review_monthly

197.71428571428572

In [42]:
lst = stats.poisson.rvs(mean_number_of_review_monthly, size=4)

In [43]:
total_review_month = mean_review * mean_number_of_review_monthly

In [44]:
p = (total_review_month - mean_number_of_review_monthly) / (4 * mean_number_of_review_monthly)
p

0.8361632947976877

In [45]:
dic = {"Time": [], "Score" : []}
offset = 8
for i in range(8, 12):
    index = i - offset
    num_samples = lst[index]
    lst_of_month = list(1 + stats.binom.rvs(4, p, size=num_samples))
    length_of_review = len(lst_of_month)
    string = [f"{i} months ago" for x in range(length_of_review)]
    dic['Time'].extend(string)
    dic['Score'].extend(lst_of_month)

print(dic)

{'Time': ['8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '8 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '9 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '10 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago', '11 months ago'], 'Score': [4, 4, 4, 5, 4, 5, 4, 5, 5, 4, 3, 5, 3, 2, 5, 5, 3, 5, 5, 5, 4, 4, 3, 4, 5, 4, 4, 4, 4, 3, 4, 5, 4, 5, 5, 5, 3, 5, 4, 5, 5, 4, 5, 4, 3, 4, 4, 5, 4, 5, 5, 4, 4, 4, 3, 4, 4, 4, 5, 5, 4, 5, 4, 5, 5, 4, 4, 5, 4, 4, 4, 5, 3, 3, 4, 4, 4, 4, 4, 4, 3, 5, 5, 5, 4, 4, 5, 4, 5, 5, 5, 4, 4, 5, 3, 4, 3, 5, 4, 5, 4, 4, 4, 4, 4, 5, 4, 4, 4, 5, 3, 5, 3, 4, 5, 4, 5, 5, 3, 2, 5, 3, 4, 5, 4, 5, 5, 4, 3, 5, 5, 4, 3, 4, 3, 4, 5, 5, 2, 4, 5, 4, 5, 3, 4, 3, 5, 4, 5, 4, 4, 4, 5, 4, 5, 5, 5, 4, 4, 5, 5, 5, 3, 3, 4, 3, 5, 5, 5, 4, 3, 5, 5, 4, 5, 5, 5, 4, 5, 4, 4, 5, 5, 5, 4, 4, 4, 5, 3, 5, 2, 4, 3, 5, 5, 3, 4, 5, 3, 4, 4, 4, 5, 4, 4, 2, 4, 5, 5, 4, 5, 5, 4, 4, 3, 5, 5, 4, 4, 3, 5, 3, 4, 5, 4, 4, 5, 4, 4, 3, 4, 5, 3, 4, 3, 3, 5, 5, 4, 5, 5, 5, 5, 4, 4, 5, 4, 5, 4, 5, 4, 4, 5, 5, 5, 5, 4, 5, 4, 5, 5, 4, 5, 4, 4, 4, 4, 5, 5, 4, 3, 5, 4, 4, 5, 5, 4, 5, 5, 2, 4, 5, 5, 4, 5, 4, 4, 3, 3, 4, 5, 5, 5, 4, 4, 5, 5, 5, 4, 3, 4, 4, 5, 3, 4, 5, 4, 5, 5, 5, 5, 3, 5, 4, 5, 4, 5, 5, 4, 4, 4, 4, 5, 5, 4, 4, 4, 3, 5, 4, 3, 4, 5, 5, 5, 4, 5, 4, 5, 5, 4, 3, 3, 5, 3, 5, 5, 5, 4, 5, 5, 4, 5, 4, 3, 5, 4, 5, 4, 3, 5, 5, 2, 5, 5, 3, 5, 3, 5, 5, 5, 5, 4, 2, 4, 5, 4, 5, 3, 4, 3, 5, 5, 5, 5, 3, 5, 4, 4, 5, 5, 3, 5, 5, 3, 4, 4, 4, 4, 4, 5, 4, 5, 5, 4, 5, 5, 4, 5, 5, 2, 4, 4, 5, 3, 4, 5, 4, 5, 3, 4, 5, 5, 3, 3, 4, 4, 4, 5, 5, 4, 4, 5, 5, 5, 4, 5, 5, 5, 3, 5, 5, 4, 5, 5, 5, 4, 5, 5, 5, 5, 4, 4, 4, 4, 5, 4, 5, 4, 2, 4, 4, 5, 4, 5, 5, 4, 5, 5, 5, 5, 5, 4, 5, 5, 3, 5, 4, 4, 4, 5, 5, 5, 5, 4, 4, 4, 4, 4, 5, 4, 2, 4, 5, 4, 3, 3, 5, 5, 5, 4, 5, 5, 5, 4, 5, 3, 4, 4, 5, 5, 3, 5, 5, 5, 5, 4, 5, 4, 4, 4, 4, 5, 5, 5, 4, 4, 5, 5, 5, 4, 4, 4, 5, 4, 5, 5, 5, 5, 5, 5, 4, 3, 5, 3, 5, 4, 5, 4, 5, 5, 5, 5, 4, 5, 3, 5, 5, 4, 4, 3, 5, 5, 5, 3, 3, 5, 4, 5, 3, 2, 4, 5, 5, 3, 4, 5, 5, 5, 5, 5, 5, 4, 5, 5, 5, 4, 4, 3, 4, 5, 5, 5, 4, 4, 4, 5, 5, 5, 4, 5, 5, 5, 4, 5, 5, 5, 3, 3, 5, 5, 3, 5, 5, 4, 5, 3, 5, 4, 4, 5, 4, 4, 5, 5, 5, 5, 5, 5, 4, 5, 4, 5, 5, 5, 5, 4, 5, 5, 4, 4, 3, 3, 4, 3, 5, 4, 4, 5, 4, 4, 5, 5, 4, 4, 5, 5, 5, 5, 4, 4, 5, 5, 4, 5, 5, 4, 4, 4, 5, 5, 4, 5, 5, 3, 4, 5, 4, 5, 3, 3, 5, 5, 5, 5, 5, 4, 5, 4, 4, 5, 5, 5, 4, 4, 4, 5, 5, 5, 5, 5, 5, 3, 5, 5, 3, 3, 3, 4, 3, 4, 4, 3, 4, 4, 4, 4, 5, 5, 3, 5, 4, 5, 4, 5, 5, 4, 5, 4, 5, 5, 4, 4, 3, 4, 5, 2, 4, 5, 5, 5, 5, 5, 5, 4, 4, 5, 5, 3, 5, 4, 4, 5, 2, 4, 5, 5, 5, 5, 5, 5, 5, 5, 4, 5, 4, 4, 3, 4, 4, 5, 4, 5, 3, 3, 4, 3, 4, 4, 5, 4, 5, 4, 4, 3, 4, 5, 5, 5, 5, 4, 3, 5, 4, 3, 5, 5, 4, 5, 5, 3, 3, 2, 5, 4, 4]}

In [46]:
df_1 = pd.DataFrame(dic)
df_1

              Time  Score
0     8 months ago      4
1     8 months ago      4
2     8 months ago      4
3     8 months ago      5
4     8 months ago      4
..             ...    ...
801  11 months ago      3
802  11 months ago      2
803  11 months ago      5
804  11 months ago      4
805  11 months ago      4

[806 rows x 2 columns]

In [47]:
new_df = pd.concat([saved_data_frame, df_1])
new_df

              Time  Score
0    6 minutes ago      5
1      an hour ago      4
2      2 hours ago      5
3      3 hours ago      5
4      4 hours ago      2
..             ...    ...
801  11 months ago      3
802  11 months ago      2
803  11 months ago      5
804  11 months ago      4
805  11 months ago      4

[2190 rows x 2 columns]

In [48]:
dic = {"Time": [], "Score" : []}
for i in range(1, 3):
    string_to_append = f"{i} years ago" if i == 2 else "a year ago"
    months = 12
    lst = stats.poisson.rvs(mean_number_of_review_monthly, size=months)
    
    for reviews in lst:
        lst_of_month = list(1 + stats.binom.rvs(4, p, size=reviews))
        length_of_review = len(lst_of_month)
        string = [string_to_append for x in range(length_of_review)]
        dic['Time'].extend(string)
        dic['Score'].extend(lst_of_month)

full_df = pd.concat([new_df, pd.DataFrame(dic)])
full_df.index = np.array([i for i in range(len(full_df))])
full_df

               Time  Score
0     6 minutes ago      5
1       an hour ago      4
2       2 hours ago      5
3       3 hours ago      5
4       4 hours ago      2
...             ...    ...
6978    2 years ago      4
6979    2 years ago      4
6980    2 years ago      3
6981    2 years ago      5
6982    2 years ago      5

[6983 rows x 2 columns]

In [49]:
np.mean(full_df['Score'])

4.34125733925247

In [50]:
full_df.to_csv(f'../data/{csv_to_change}.csv')