In [87]:
from selenium import webdriver
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from bs4 import BeautifulSoup
import time

In [79]:
driver = webdriver.Chrome()
#London Victoria & Albert Museum URL
url = 'https://www.google.com/maps/place/Singapore+Cable+Car/@1.2712762,103.8164342,17z/data=!3m1!5s0x31da1bdfcf44ae27:0x274e767183e8b1d6!4m8!3m7!1s0x31da1ead00000001:0xe147483e211e5430!8m2!3d1.2711448!4d103.8195992!9m1!1b1!16zL20vMDU5cmdj?entry=ttu'
driver.get(url)
time.sleep(5)

driver.find_element('xpath', '//*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]/div[7]/div[2]/button').click()
time.sleep(2)
driver.find_element('xpath', '//*[@id="action-menu"]/div[2]').click()

scrollable_div = driver.find_element('xpath', '//*[@id="QA0Szd"]/div/div/div[1]/div[2]/div/div[1]/div/div/div[2]')


scrollable_div
period = timedelta(minutes=60)
next_time = datetime.now() + period

while datetime.now() < next_time:
        driver.execute_script('arguments[0].scrollTop = arguments[0].scrollHeight', 
                scrollable_div)
        


response = BeautifulSoup(driver.page_source, 'html.parser')
reviews = response.find_all('span', class_='kvMYJc')

driver.quit()

In [80]:
reviews = response.find_all('div', class_='DU9Pgb')

In [90]:
list_of_time = []
list_of_score = []
for r in reviews:

    review_time = r.find('span', class_ = 'rsqaWe').getText()
    score = r.find('span', class_ = 'kvMYJc')['aria-label'][0]
    
    list_of_time.append(review_time)
    list_of_score.append(score)

In [100]:
df = pd.DataFrame(
    {'Time' : list_of_time,
     'Score' : list_of_score}
)

In [101]:
print(df)

              Time Score
0      4 hours ago     5
1      8 hours ago     5
2     14 hours ago     4
3     21 hours ago     5
4     21 hours ago     5
...            ...   ...
2705   4 years ago     5
2706   4 years ago     5
2707   4 years ago     5
2708   4 years ago     5
2709   4 years ago     5

[2710 rows x 2 columns]

In [102]:
first_index = df[df['Time'] == '4 years ago'].index[0]
first_index

2363

In [103]:
saved_data_frame = df.iloc[:first_index]
saved_data_frame

              Time Score
0      4 hours ago     5
1      8 hours ago     5
2     14 hours ago     4
3     21 hours ago     5
4     21 hours ago     5
...            ...   ...
2358   3 years ago     5
2359   3 years ago     5
2360   3 years ago     2
2361   3 years ago     4
2362   3 years ago     5

[2363 rows x 2 columns]

In [107]:
saved_data_frame.to_csv('../data/cablecar.csv')

In [105]:
print(len(reviews))

2710